@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background-light: #ffffff;
  --background-dark: #000000;

  --foreground: #171717;

  --font-mono: 'Roboto Mono', monospace;
  --font-sans: 'Roboto', sans-serif;
  --font-thin: 'Roboto', sans-serif;
}


body {
  transition: background-color 0.3s ease, color 0.3s ease;
  background: var(--background-light);
  color: var(--foreground);
  font-family: font-sans, Arial, Helvetica, sans-serif;
}

body.dark {
  background: var(--background-dark);
  color: var(--foreground);
  font-family: font-sans, Arial, Helvetica, sans-serif;
}
